fastapi
uvicorn
pydantic
python-dotenv
requests
langchain
langchain-google-genai
google-generativeai
google-api-core
google-ai-generativelanguage
protobuf
grpcio-status
httpx
python-multipart
fitz
PyMuPDF
redis
pytest
